@import '@/styles/_variables.scss';
@import '@/styles/_common.scss';
.blogs {
    .blogCard {
        border: none;
        max-width: 33%;
        &:hover .card-body {
            .blogTitle {
                color: $secondary-blue;
                text-decoration: underline;
            }
        }
        .card-body {
            padding: 0;
            .blogThumbnail {
                max-height: 200px;
                width: 100%;
                height: 100%;
                display: block;
                margin: 0 auto;
                border-radius: 5px;
                object-fit: cover;
            }
            .blogDetailsWrap {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                background: $white;
                position: relative;
                top: -30px;
                padding: 20px 15px;
                max-width: 90%;
                margin: 0 auto;
                box-shadow: 5px 0px 18px rgb(0 0 0 / 12%);
                border-radius: 10px;
                .blogDetails {
                    font-family: $poppins-light;
                    font-size: 12px;
                    svg {
                        color: $primary-blue;
                    }
                }
            }
            .blogTitle {
                display: block;
                font-family: $poppins-semibold;
                font-size: 22px;
                text-transform: uppercase;
                line-height: 24px;
                color: $charcoal;
                text-decoration: none;
                margin-bottom: 15px;
                transition: all 0.5s ease;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
            }
        }
        .card-footer {
            background-color: transparent;
            border: none;
            .ctaBtn {
                padding: 5px 15px;
                margin: 0 auto;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .blogs {
        .blogCard {
            max-width: 100%;
        }
    }
}