
<section class="cta-banner-three">
  <div class="ctaWrap">
    <div class="container-lg p-lg-0">
      <div class="bannerWrap">
        <div class="colOne">
          <h4 class="ctaBannerTitle">{{aboutCtaBanner.ctaTitle}}</h4>
          <p>{{aboutCtaBanner.ctaDesc}}</p>
        </div>
        <div class="colTwo">
          <router-link class="ctaBtn" to="/career">{{aboutCtaBanner.ctaBtn}}
            <font-awesome-icon :icon="['fas', 'arrow-right']" />
          </router-link>
        </div>
      </div>
    </div>
  </div>
</section>

