@import "@/styles/_variables.scss";
@import "@/styles/_common.scss";

.process {
    .processWrap{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        .step{
            position: relative;
            img{
                width: 100%;
                max-width: 50px;
                max-height: 50px;
                display: block;
                margin: 0 auto 10px;
            }
            span{
                font-family: $redhat-medium;
                font-size: 16px;
                color: $charcoal;
            }
            .rightArrow{
                position: absolute;
                margin: 0;
                top: 50%;
                right: -65px;
                transform: translateY(-50%);
                transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -webkit-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                max-width: 40px;
                max-height: 40px;
            }
        }
    }
}