<section class="process sectionWrap" v-if="items.details">
  <div class="container-lg p-lg-0">
    <h2 class="sectionHeading" v-html="items.workflowHeading"><span>.</span></h2>
    <div class="processWrap">
        <div class="step" v-for="steps in items.details">
          <img class="processIcon" v-bind:src="steps.workflowImage" alt="">
          <span>{{steps.workflowName}}</span>
          <img class="rightArrow" src="../../assets/right-arrow-blue.png" alt="">
        </div>
       <!-- <div class="step">
        <img class="processIcon" src="../../assets/web-design.png" alt="">
        <span>Design</span>
        <img class="rightArrow" src="../../assets/right-arrow-blue.png" alt="">
      </div>
      <div class="step">
        <img class="processIcon" src="../../assets/programming.png" alt="">
        <span>Development</span>
        <img class="rightArrow" src="../../assets/right-arrow-blue.png" alt="">
      </div>
      <div class="step">
        <img class="processIcon" src="../../assets/checklist.png" alt="">
        <span>Testing</span>
        <img class="rightArrow" src="../../assets/right-arrow-blue.png" alt="">
      </div>
      <div class="step">
        <img class="processIcon" src="../../assets/deployment.png" alt="">
        <span>Deployment</span>
        <img class="rightArrow" src="../../assets/right-arrow-blue.png" alt="">
      </div>
      <div class="step">
        <img class="processIcon" src="../../assets/technical-support.png" alt="">
        <span>Support and Maintenance</span>
      </div> -->
    </div>
  </div>
</section>

