<section class="tabs">
  <div class="container-lg p-lg-0">
    <!-- career page -->
    <section class="sectionWrap"  v-if="routerPage == true">
      <div class="tabWrap">
        <h2 class="sectionHeading" v-html="items.hiringTitle"><span>.</span></h2>
        <b-card class="careerCard" no-body>
          <b-tabs class="vertCard" pills card vertical>
            <b-tab v-bind:title="career.positionTitle" active v-for="career in items.details" v-if="career.jobDetails">
              <a href="mailTo:hrd@believintech.com" v-for="jobs in career.jobDetails">
                <div class="openPos">
                  <div class="colOne">
                    <span class="role">{{jobs.jobName}}</span>
                  </div>
                  <div class="colTwo">
                    <span class="vacancy">Vacancy: {{jobs.vacancy}}</span>
                    <span class="experience">Exp: {{jobs.exp}}</span>
                  </div>
                </div>
              </a>
            </b-tab>
          </b-tabs>
        </b-card>
      </div>
    </section>
    <!-- work page -->
    <section v-if="routerPage == false">
      <div class="projTabs">
        <b-tabs content-class="mt-5">
          <b-tab v-bind:title="tabs.tabTitle" v-for="tabs in items.details" >
            <b-card-group class="projectWrap" deck>
              <b-card class="projCard" v-for="project in tabs.tabProject" v-bind:key="project.id" no-body>
                  <img class="projImg" v-bind:src="project.contentImage" alt="">
                  <div class="projDetail">
                      <h4>{{project.contentTitle}}</h4>
                      <a class="ctaBtn" target="_blank" v-bind:href="project.contentLink" v-if="project.contentButton">{{project.contentButton}}
                        <font-awesome-icon :icon="['fa', 'external-link-alt']"></font-awesome-icon>
                      </a>
                      <a class="appBadge" :href="project.iosLink" v-if="project.iosLink" target="_blank">
                        <img src="../../assets/clients/download-on-the-app-store-en-us/black.svg" alt="">
                      </a>
                      <a class="appBadge" :href="project.androidLink" v-if="project.androidLink" target="_blank">
                        <img src="../../assets/clients/google-play-badge.svg" alt="">
                      </a>
                  </div>
              </b-card>
            </b-card-group>

          </b-tab>
        </b-tabs>
      </div>
    </section>
  </div>
</section>

