<section class="our-team sectionWrap">
  <div class="container-lg p-lg-0">
    <h2 class="sectionHeading">Meet The Team<span>.</span></h2>
    <div class="teamWrap">
      <!-- <h4>Administration</h4> -->
      <b-card-group class="teamGroup">
        <b-col sm="6" lg="4" class="p-0 teamCardWrap" v-for="member in items.details">
            <b-card class="teamCard" no-body>
              <b-card-img class="teamImg" v-bind:src="member.teamImage"></b-card-img>
            </b-card>
            <div class="memberDetails">
              <h4>{{member.teamName}}</h4>
              <span>{{member.teamDesignation}}</span>
              <div class="memberSocial">
                <!-- <a v-bind:href="member.teamIconFacebook" target="_blank">
                  <font-awesome-icon :icon="['fab', 'facebook']" />
                </a> -->
                <a v-bind:href="member.teamIconLinkedin" target="_blank">
                  <font-awesome-icon :icon="['fab', 'linkedin']" />
                </a>
              </div>
            </div>
        </b-col>
      </b-card-group>
    </div>
  </div>
</section>