
<section class="our-services sectionWrap" id="services" v-if="serviceSection.details.length > 0">
  <div class="container-lg p-lg-0">
    <h2 class="sectionHeading" v-if="routerPage == false">{{serviceSection.serviceHeading}}<span>.</span></h2>
    <p class="contentCopy" v-if="routerPage == false">{{serviceSection.serviceDescription}}</p>
  
    <div class="serviceRow">
      <b-card-group class="serviceCardGrp" deck>
        <b-card class="serviceCard" v-for="service in serviceSection.details" footer-class="serviceFooter">
          <div class="logoWrap">
            <b-card-img class="serviceLogo" v-bind:src="service.serviceLogo"></b-card-img>
          </div>
          <h4 class="serviceName">{{service.Title}}</h4>
          <b-card-text class="serviceDesc">{{service.postContent}}</b-card-text>
          <template class="serviceFooter" #footer>
            <a href="" class="ctaBtn">{{service.serviceButton}}
              <font-awesome-icon :icon="['fas', 'arrow-right']" />
            </a>
          </template>
        </b-card>
      </b-card-group>
    </div>
  </div>
</section>

