<section class="single-service" id="singleService">
  <div class="container-lg p-lg-0">
      <div class="servContent sectionWrap">
        <h1 class="servTitle sectionHeading">WooCommerce Development</h1>
        <p class="servDesc contentCopy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati provident dolores ut eveniet aspernatur debitis qui, ab mollitia nam dolor beatae similique magnam eum! Repudiandae laboriosam in minima nesciunt quod?</p>
      </div>
  </div>
</section>

