<section class="footer-comp sectionWrap">
  <div class="container-lg p-lg-0">
    <footer class="cstmFooter">
      <div class="cstmCol colOne">
        <img class="footerLogo" src="../../assets/logo/believintech-full-&-final-logo(white@2x).png" alt="">
        <p>Believ-In Tech hits the nail on the head with its collective expertise start from design and development 
          to the implementation and maintenance. Our team keeps on hunting new ideas to deliver real values to our 
          customers and their businesses.
        </p>
        <div class="socialBar">
          <a href="https://www.facebook.com/BelievIn-Tech-107391134339508/" target="_blank">
            <font-awesome-icon :icon="['fab', 'facebook-square']" />
          </a>
          <a href="https://www.linkedin.com/company/believintech/?viewAsMember=true" target="_blank">
            <font-awesome-icon :icon="['fab', 'linkedin']" />
          </a>
        </div>
      </div>
      <div class="cstmCol colTwo">
        <h4>Explore</h4>
        <ul class="quickLinks">
          <li>
            <router-link to="/">Home</router-link>
          </li>
          <li>
            <router-link to="/about">About Us</router-link>
          </li>
          <!-- <li>
            <router-link to="/services">Services</router-link>
          </li> -->
          <li>
            <router-link to="/work">Work</router-link>
          </li>
          <!-- <li>
            <router-link to="/career">Career</router-link>
          </li> -->
          <li>
            <router-link to="/contact">Contact Us</router-link>
          </li>
          <!-- <li>
            <router-link to="/blog">Blog</router-link>
          </li> -->
          <!-- <li>
            <router-link to="/success-stories">Success Stories</router-link>
          </li>
          <li>
            <router-link to="/privacy-policy">Privacy Policy</router-link>
          </li>
          <li>
            <router-link to="/terms-of-use">Terms of Use</router-link>
          </li> -->
        </ul>
      </div>
      <div class="cstmCol colThree">
        <h4>Contact</h4>
        <ul class="contactLinks">
          <li>
            <font-awesome-icon :icon="['fas', 'map-marker-alt']" />
            <a href="http://maps.google.com/?q=Unit 235-245, 2nd Floor, ILD Trade Centre, Sohna Rd, D-1 Block, Malibu Town, Sector 47, Gurgaon" target="_blank">
              Unit 235-245, 2nd Floor, 
              ILD Trade Centre, Sohna Rd 
              D-1 Block, Malibu Town, 
              Sector 47, Gurgaon
            </a>
          </li>
          <li>
            <font-awesome-icon :icon="['fas', 'phone-alt']" />
            <a href="tel:+91 9643886273">+91 9643886273</a>
          </li>
          <li>
            <font-awesome-icon :icon="['fas', 'envelope']" />
            <a href="mailTo:info@believintech.com">info@believintech.com</a>
          </li>
        </ul>
      </div>
      <!-- <div class="cstmCol colFour">
        <h4>newsletter</h4>
        <div class="newsletterWrap">
          <b-form class="newsForm" id="newsletter-form">
            <b-form-group class="newsGroup">
              <b-form-input class="newsInput" type="email" placeholder="Enter email" required></b-form-input>
            </b-form-group>
            <b-button class="newsSubmit" type="submit" variant="primary">
              <font-awesome-icon :icon="['fas', 'envelope']" />
            </b-button>
          </b-form>
          <p>Sign up for our latest news & articles. We won’t give you spam mails.</p>
        </div>
      </div> -->
    </footer>
    <div class="hrLine"></div>
    <div class="copyrightWrap">
      <p>© Copyright 2021 | BelievInTech. All Rights Reserved</p>
    </div>
  </div>
</section>

