<section class="footer-comp sectionWrap">
  <div class="container-lg p-lg-0">
    <footer class="cstmFooter">
      <div class="cstmCol colOne">
        <img class="footerLogo" :src="FooterSection.footerLogo" alt="">
        <p>{{FooterSection.footerContent}}</p>
        <div class="socialBar">
          <a :href="HeaderSection.headerFacebookURL" target="_blank">
            <font-awesome-icon :icon="['fab', 'facebook-square']" />
          </a>
          <a :href="HeaderSection.headerLinkedInURL" target="_blank">
            <font-awesome-icon :icon="['fab', 'linkedin']" />
          </a>
        </div>
      </div>
      <div class="cstmCol colTwo">
        <h4>Explore</h4>
        <ul class="quickLinks">
          <li>
            <router-link to="/">Home</router-link>
          </li>
          <li>
            <router-link to="/about">About Us</router-link>
          </li>
          <!-- <li>
            <router-link to="/services">Services</router-link>
          </li> -->
          <li>
            <router-link to="/work">Work</router-link>
          </li>
          <li>
            <router-link to="/career">Career</router-link>
          </li>
          <li>
            <router-link to="/contact">Contact Us</router-link>
          </li>
          <li>
            <router-link to="/blog">Blog</router-link>
          </li>
          <!-- <li>
            <router-link to="/success-stories">Success Stories</router-link>
          </li>
          <li>
            <router-link to="/privacy-policy">Privacy Policy</router-link>
          </li>
          <li>
            <router-link to="/terms-of-use">Terms of Use</router-link>
          </li> -->
        </ul>
      </div>
      <div class="cstmCol colThree">
        <h4>Contact</h4>
        <ul class="contactLinks">
          <li>
            <font-awesome-icon :icon="['fas', 'map-marker-alt']" />
            <a :href="'http://maps.google.com/?q=' + FooterSection.footerAddress" target="_blank">
              {{FooterSection.footerAddress}}
            </a>
          </li>
          <li>
            <font-awesome-icon :icon="['fas', 'phone-alt']" />
            <a :href="'tel:'+ HeaderSection.headerPhone">{{HeaderSection.headerPhone}}</a>
          </li>
          <li>
            <font-awesome-icon :icon="['fas', 'envelope']" />
            <a :href="'mailTo:' + HeaderSection.headerEmail">{{HeaderSection.headerEmail}}</a>
          </li>
        </ul>
      </div>
      <!-- <div class="cstmCol colFour">
        <h4>newsletter</h4>
        <div class="newsletterWrap">
          <b-form class="newsForm" id="newsletter-form">
            <b-form-group class="newsGroup">
              <b-form-input class="newsInput" type="email" placeholder="Enter email" required></b-form-input>
            </b-form-group>
            <b-button class="newsSubmit" type="submit" variant="primary">
              <font-awesome-icon :icon="['fas', 'envelope']" />
            </b-button>
          </b-form>
          <p>Sign up for our latest news & articles. We won’t give you spam mails.</p>
        </div>
      </div> -->
    </footer>
    <div class="hrLine"></div>
    <div class="copyrightWrap">
      <p>{{FooterSection.footerCopy}}</p>
    </div>
  </div>
</section>

