<section class="footer-comp sectionWrap">
  <div class="container-lg p-lg-0">
    <footer class="cstmFooter">
      <div class="cstmCol colOne">
        <img class="footerLogo" src="../../assets/logo/believintech-full-&-final-logo(white@2x).png" alt="">
        <p>Believintech hits the nail on the head with its collective expertise start from design and development 
          to the implementation and maintenance. Our team keeps on hunting new ideas to deliver real values to our 
          customers and their businesses.
        </p>
        <div class="socialBar">
          <a href="">
            <font-awesome-icon :icon="['fab', 'facebook-square']" />
          </a>
          <a href="">
            <font-awesome-icon :icon="['fab', 'linkedin']" />
          </a>
        </div>
      </div>
      <div class="cstmCol colTwo">
        <h4>Explore</h4>
        <ul class="quickLinks">
          <li><a href="">Home</a></li>
          <li><a href="">About Us</a></li>
          <li><a href="">Services</a></li>
          <li><a href="">Portfolio</a></li>
          <li><a href="">Meet our team</a></li>
          <li><a href="">Career</a></li>
          <li><a href="">Contact Us</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Terms of Use</a></li>
        </ul>
      </div>
      <div class="cstmCol colThree">
        <h4>Contact</h4>
        <ul class="contactLinks">
          <li>
            <font-awesome-icon :icon="['fas', 'map-marker-alt']" />
            <a href="http://maps.google.com/?q=Instaoffice Business Centre Greenwood Plaza, Sector 45, Gurugram, Haryana 122001" target="_blank">
              Instaoffice Business Centre
              Greenwood Plaza,
              Unit No.401-402,4th,
              Sector 45, Gurugram, Haryana 122001
            </a>
          </li>
          <li>
            <font-awesome-icon :icon="['fas', 'phone-alt']" />
            <a href="tel:+91 9643886273">+91 9643886273</a>
          </li>
          <li>
            <font-awesome-icon :icon="['fas', 'envelope']" />
            <a href="mailTo:hrd@believintech.com">hrd@believintech.com</a>
          </li>
        </ul>
      </div>
      <div class="cstmCol colFour">
        <h4>newsletter</h4>
        <div class="newsletterWrap">
          <b-form class="newsForm" id="newsletter-form">
            <b-form-group class="newsGroup">
              <b-form-input class="newsInput" type="email" placeholder="Enter email" required></b-form-input>
            </b-form-group>
            <b-button class="newsSubmit" type="submit" variant="primary">
              <font-awesome-icon :icon="['fas', 'envelope']" />
            </b-button>
          </b-form>
          <p>Sign up for our latest news & articles. We won’t give you spam mails.</p>
        </div>
      </div>
    </footer>
    <div class="hrLine"></div>
    <div class="copyrightWrap">
      <p>© Copyright 2021 | BelievInTech. All Rights Reserved</p>
    </div>
  </div>
</section>

