@import '@/styles/_variables.scss';
@import '@/styles/_common.scss';

.tech-stack {
    .cstmBg{
        background-color: $primary-blue;
        padding: 30px 0;
        .sectionHeading{
            color: $white;
        }
        .techWrap{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            padding: 25px 0;
            border-bottom: 1px solid $white;
            border-bottom-style: dashed;
            .colOne{
                width: 50%;
                flex-grow: 1;
                padding-right: 15px;
                h4{
                    font-family: $poppins-semibold;
                    font-size: 30px;
                    color: $logo-secondary-blue;
                    text-align: left;
                    position: relative;
                    margin-bottom: 20px;
                }
                p{
                    font-size: 18px;
                    color: $white;
                    text-align: left;
                    font-family: $poppins-light;
                }
            }
            .colTwo{
                width: 50%;
                padding-left: 15px;
                .stackWrap{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    flex-grow: 1;
                    .tech{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        // flex-grow: 1;
                        width: 22%;
                        margin-bottom: 15px;
                        margin-right: 15px;
                        padding: 5px;
                        border: 1px solid $logo-secondary-blue;
                        border-radius: 15px;
                        transition: all 0.7s ease;
                        -moz-transition: all 0.7s ease;
                        -webkit-transition: all 0.7s ease;
                        -ms-transition: all 0.7s ease;
                        -o-transition: all 0.7s ease;
                        &:hover{
                            background-color: $logo-secondary-blue;
                        }
                        &:nth-child(4n+4),
                        &:last-child{
                            margin-right: 0;
                        }
                        img.techLogo{
                            max-width: 70px;
                            max-height: 70px;
                            margin-bottom: 10px;
                        }
                        span.techName{
                            position: relative;
                            font-family: $poppins-medium;
                            font-size: 16px;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}