@import '@/styles/variables.scss';
@import '@/styles/common.scss';

.testimonial-slider {
    margin-top: 15px;
    .testiCard{
        background-color: transparent;
        border: none;
        color: $white;
        text-align: left;
        .testiBody{
            padding-left: 0;
            padding-right: 0;
            .testiMsg{
                font-family: $poppins-light;
                font-size: 15px;
                line-height: 24px;
            }
        }
        .testiFooter{
            background-color: transparent;
            border-color: $logo-secondary-blue;
            padding-left: 0;
            padding-right: 0;
            opacity: 0.7;
            font-family: $poppins-regular;
            font-size: 16px;
            .testiDesig{
                padding-right: 3px;
            }
            .testiComp{
                padding-left: 3px;
            }
        }
    }
}