<div class="headerWrapper">
  <div class="infoNavWrapper">
    <div class="container-lg p-lg-0">
      <div class="infoNav">
        <div class="infoCnt">
          <ul>
            <li>
              <a :href="'mailto:' + HeaderSection.headerEmail">
                <font-awesome-icon :icon="['fas', 'envelope']" />
                {{HeaderSection.headerEmail}}</a>
            </li>
            <li>
              <a :href="'tel:' + HeaderSection.headerPhone">
                <font-awesome-icon :icon="['fas', 'phone-alt']" />
                {{HeaderSection.headerPhone}}</a>
            </li>
          </ul>
        </div>
        <div class="infoscl">
          <ul>
            <li>
              <a :href="HeaderSection.headerFacebookURL" target="_blank">
                <font-awesome-icon :icon="['fab', 'facebook']" />
              </a>
            </li>
            <li>
              <a :href="HeaderSection.headerLinkedInURL" target="_blank">
                <font-awesome-icon :icon="['fab', 'linkedin']" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbarWrapper">
    <b-navbar toggleable="lg" type="light" variant="faded" class="cstmNav">
      <div class="container-lg p-lg-0">
        <router-link class="cstmNavBrd" to="/">
          <img :src="HeaderSection.headerLogo" alt="">
        </router-link>
    
        <!-- <b-navbar-toggle target="nav-collapse"></b-navbar-toggle> -->

        <label for="nav-collapse" class="hamburger" target="nav-collapse" @click="toggleNav">
          <input type="checkbox" id="ham-check">
          <span class="line lineTop"></span>
          <span class="line lineMiddle"></span>
          <span class="line lineBottom"></span>
        </label>
    
        <div id="nav-collapse" :class="{showMobMenu: showNav}" is-nav class="cstmNavColl">
    
          <!-- Right aligned nav items -->
          <b-navbar-nav class="cstmNavbarUl">
            <!-- <li class="cstmNavItem" v-for="menu in HeaderSection.details">
              <router-link class="nav-link" :to="menu.navLink">{{menu.navText}}</router-link>
            </li> -->
            <li class="cstmNavItem">
              <router-link class="nav-link" to="/">Home</router-link>
            </li>
            <li class="cstmNavItem">
              <router-link class="nav-link" to="/about">About Us</router-link>
            </li>
            <li class="cstmNavItem noHrLine">
              <span class="nav-link" to="">Services</span>
              <ul class="cstmDrpdwn">
                <li v-for="service in serviceSection.details">
                  <router-link :to="{name: 'serviceSingle', params: {slug: service.serviceSlug}}">{{service.Title}}</router-link>
                </li>
              </ul>
            </li>
            <li class="cstmNavItem">
              <router-link class="nav-link" to="/work">Work</router-link>
            </li>
            <li class="cstmNavItem">
              <router-link class="nav-link" to="/career">Career</router-link>
            </li>
            <li class="cstmNavItem">
              <router-link class="nav-link" to="/blog">Blogs</router-link>
            </li>
            <li class="cstmNavItem noHrLine quoteBtn">
              <router-link class="nav-link" to="/contact">Let's Connect</router-link>
            </li>
          </b-navbar-nav>
        </div>
      </div>
    </b-navbar>
  </div>
</div>