<div class="headerWrapper">
  <div class="infoNavWrapper">
    <div class="container-lg p-lg-0">
      <div class="infoNav">
        <div class="infoCnt">
          <ul>
            <li>
              <a :href="'mailto:' + HeaderSection.headerEmail">
                <font-awesome-icon :icon="['fas', 'envelope']" />
                {{HeaderSection.headerEmail}}</a>
            </li>
            <li>
              <a :href="'tel:' + HeaderSection.headerPhone">
                <font-awesome-icon :icon="['fas', 'phone-alt']" />
                {{HeaderSection.headerPhone}}</a>
            </li>
          </ul>
        </div>
        <div class="infoscl">
          <ul>
            <li>
              <a :href="HeaderSection.headerFacebookURL" target="_blank">
                <font-awesome-icon :icon="['fab', 'facebook']" />
              </a>
            </li>
            <li>
              <a :href="HeaderSection.headerLinkedInURL" target="_blank">
                <font-awesome-icon :icon="['fab', 'linkedin']" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbarWrapper">
    <b-navbar toggleable="lg" type="light" variant="faded" class="cstmNav">
      <div class="container-lg p-lg-0">
        <router-link class="cstmNavBrd" to="/">
          <img :src="HeaderSection.headerLogo" alt="">
        </router-link>
    
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
    
        <b-collapse id="nav-collapse" is-nav class="cstmNavColl">
    
          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto cstmNavbarUl">
            <li class="cstmNavItem">
              <router-link class="nav-link" to="/">Home</router-link>
            </li>
            <li class="cstmNavItem">
              <router-link class="nav-link" to="/about">About Us</router-link>
              <!-- <ul class="cstmDrpdwn">
                <li>
                  <router-link to="/engagement-model">Our Engagement Model</router-link>
                </li>
                <li>
                  <router-link to="/our-clients">Our Clients</router-link>
                </li>
                <li>
                  <router-link to="/success-stories">Success Stories</router-link>
                </li>
              </ul> -->
            </li>
            <li class="cstmNavItem noHrLine">
              <router-link class="nav-link" to="/services">Services</router-link>
              <ul class="cstmDrpdwn">
                <li>
                  <router-link to="/wordpress-development">WordPress Development</router-link>
                </li>
                <li>
                  <router-link to="/ecommerce-development">E-Commerce Development</router-link>
                </li>
                <li>
                  <router-link to="/woocommerce">WooCommerce</router-link>
                </li>
                <li>
                  <router-link to="/api-development">API Development</router-link>
                </li>
                <li>
                  <router-link to="/php-frameworks">PHP Frameworks</router-link>
                </li>
                <li>
                  <router-link to="/web-support">Ongoing Web Support & Optimization</router-link>
                </li>
              </ul>
            </li>
            <li class="cstmNavItem">
              <router-link class="nav-link" to="/work">Work</router-link>
            </li>
            <!-- <li class="cstmNavItem">
              <router-link class="nav-link" to="/career">Career</router-link>
            </li> -->
            <!-- <li class="cstmNavItem">
              <router-link class="nav-link" to="/contact">Contact Us</router-link>
            </li> -->
            <li class="cstmNavItem">
              <router-link class="nav-link" to="/blog">Blog</router-link>
            </li>
            <li class="cstmNavItem noHrLine quoteBtn">
              <router-link class="nav-link" to="/contact">Let's Connect</router-link>
            </li>
          </b-navbar-nav>
        </b-collapse>
      </div>
    </b-navbar>
  </div>
</div>