@import '@/styles/_variables.scss';
@import '@/styles/_common.scss';

.client-slider {
    .sectionHeading{
        margin-bottom: 40px;
    }
    .clientWrap{
        .contentCopy{
            width: fit-content;
            max-width: 40%;
            margin: 0 auto;
        }
        ::v-deep .slick-track{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-top: 30px;
        }
        ::v-deep .slick-slide{
            margin: 0 25px;
        }
    }
}