<section class="client-slider sectionWrap">
  <h2 class="sectionHeading">our happy clients<span>.</span></h2>
  <div class="clientWrap">
    <p class="contentCopy">We have taken several brands to the next level with our quality assurance and bright concepts.</p>
    <carousel class="clientOwl" :items="6" :autoplay="true" :autoplayTimeout="2500" :autoplayHoverPause="false"
      :loop="true" :autoplaySpeed="2500" :dots="false" :nav="false" :center="true" :rewind="false" 
      :mouseDrag="false" :margin="50">
      <img src="../../assets/clients/PatientHandling.png">
      <img src="../../assets/clients/activeplace.png">
      <img src="../../assets/clients/defiant.png">
      <img src="../../assets/clients/drug.png">
      <img src="../../assets/clients/Gurmeesool.png">
      <img src="../../assets/clients/konservatory.png">
      <img src="../../assets/clients/sapphire.png">
      <img src="../../assets/clients/selfhypno.png">
    </carousel>
  </div>
</section>

