<section class="client-slider sectionWrap">
  <h2 class="sectionHeading" v-if="slider.clientHeadings" v-html="slider.clientHeadings"><span>.</span></h2>
  <div class="clientWrap">
    <p class="contentCopy" v-if="slider.clientDescriptions">{{slider.clientDescriptions}}</p>
    <template>
      <div>
        <VueSlickCarousel class="clientSlider" v-if="slider.details && slider.details.length > 0" v-bind="settings">
          <img v-bind:src="client.clientsImage" v-for="client in slider.details" alt="">
        </VueSlickCarousel>
      </div>
    </template>
  </div>
</section>

