@import '@/styles/_variables.scss';
@import '@/styles/_common.scss';
.client-slider {
    .sectionHeading {
        margin-bottom: 40px;
    }
    .clientWrap {
        .contentCopy {
            width: fit-content;
            max-width: 40%;
            margin: 0 auto;
        }
        // .clientOwl{
        //     margin-top: 20px;
        //     ::v-deep .owl-stage{
        //         display: flex;
        //         flex-direction: row;
        //         align-items: center
        //     }
        // }
        .clientSlider {
            padding-top: 30px;
             ::v-deep .slick-track {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
             ::v-deep .slick-slide {
                margin: 0 20px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .client-slider {
        .clientWrap {
            .contentCopy {
                max-width: 80%;
            }
        }
    }
}