<section class="testimonials sectionWrap">
    <div class="testimonialWrap">
        <div class="container">
            <div class="row">
                <div class="colOne">
                    <h2 class="sectionHeading">{{items.testimonialsTitle}}<span>.</span></h2>
                    <p class="contentCopy">{{items.testimonialDescription}}</p>
                </div>
                <div class="colTwo">
                    <h4 class="subHeading">{{items.testimonialsHeadings}}</h4>
                    <testimonial-slider :items="testimonialsSlider" />
                </div>
            </div>
        </div>
    </div>
</section>