<section class="testimonials sectionWrap">
  <div class="testimonialWrap">
    <div class="container p-lg-0">
      <div class="row">
        <div class="colOne">
          <h2 class="sectionHeading">What Our Clients Think About Our Work<span>.</span></h2>
          <p class="contentCopy">Trusted by more than 18 Clients for their Unique Projects</p>
        </div>
        <div class="colTwo">
          <h4 class="subHeading">Testimonials</h4>
          <testimonial-slider />
        </div>
      </div>
    </div>
  </div>
</section>