.bannerWrap{
    background: url("../../assets/banner-bg.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.8;
    }
    .bannerContent{
        h1{
            position: relative;
        }
    }
}
